<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Ordercommentuser>
            <version>1.0.1</version>
        </Mygento_Ordercommentuser>
    </modules>
    <global>
        <blocks>
            <ordercommentuser>
                <class>Mygento_Ordercommentuser_Block</class>
            </ordercommentuser>
        </blocks>
        <helpers>
            <ordercommentuser>
                <class>Mygento_Ordercommentuser_Helper</class>
            </ordercommentuser>
        </helpers>
        <models>
            <ordercommentuser>
                <class>Mygento_Ordercommentuser_Model</class>
            </ordercommentuser>
        </models>
        <resources>
            <ordercommentuser_setup>
                <setup>
                    <module>Mygento_Ordercommentuser</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordercommentuser_setup>
        </resources> 
        <events>
            <sales_order_status_history_save_before>
                <observers>
                    <ordercommentuser_sales_order_status_history_save_before_observer>
                        <type>singleton</type>
                        <class>ordercommentuser/observer</class>
                        <method>orderStatusHistorySaveBefore</method>
                    </ordercommentuser_sales_order_status_history_save_before_observer>
                </observers>
            </sales_order_status_history_save_before>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ordercommentuser>
                    <files>
                        <default>Mygento_Ordercommentuser.csv</default>
                    </files>
                </ordercommentuser>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordercommentuser>
                                            <title>Mygento Ordercommentuser Configuration</title>
                                        </ordercommentuser>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ordercommentuser>
                    <file>mygento/ordercommentuser.xml</file>
                </ordercommentuser>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ordercommentuser>
            <general>
                <enabled>1</enabled>
            </general>
        </ordercommentuser>
    </default>
</config>
